/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body {
	padding: 2%;
	margin-left: 5%;
}

nav a{
	color: #b3b3b3;
	display: inline-block;
	margin: 2%;
	text-decoration: none;
	padding-bottom: 4%;
}

header {
	margin: auto;
	width: 100%;
	padding: 0% 0% 0% 10%;
	display: inline-block;
}

#top-div {
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	margin: auto;
}

.logo {
	margin: auto;
	display: inline-block;
}

h1 {
	font-size: 330%;
	display: inline-block;
	width: 80%;
	font-size: 600%;
}


h2 {
	font-size: 130%;
}

.container {
	width: 90%;
	margin: auto;
}

.container .top {
	margin-right: 5%;
}

.container div{
	display: inline-block;
	box-sizing: border-box;
	width: 12%;
	height: 3%;
	width: 25%;
	margin: auto;
}

header #headerimg {
	padding: 1%;
	display: inline-block;
	position: relative;
}


button {
	display: inline;
	box-sizing: box-sizing;
	border: solid;
	border-width: thin;
	width: 10%;
	padding: 1%;
	background: white;
	margin: 0% 0% 0% 6%;
}

.middle-img {
	padding: 10%;
}

footer {
	padding-top: 5%;
}


h6 {
	text-align: center;
	margin-bottom: 10%;
}

.top {
	margin: 99%;
}